<%= form_with model: @group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :画像 %>
    <div class="row">
      <%= f.collection_check_boxes(:post_ids, Post.all, :id, :id) do |b| %>
        <div class="col-md-4">
          <div class="image-checkbox">
            <%= b.label { b.check_box } %>
            <%= image_tag b.object.image, size: "200x200" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit '作成', class: 'btn btn-info' %>
  </div>
<% end %>