<div class='container px-5 px-sm-0'>
  <h2>グループ名：<%= @group.name %></h2>
  <h3>グループ説明：<%= @group.introduction %></h3>

  <div class='row'>
  <% @posts.each do |post| %>
    <div class='col-md-4'>
      <% image_size = "300x300" %>
      <%= link_to list_path(post.id) do %>
        <%= image_tag post.image, size: image_size %>
      <% end %>
    </div>
  <% end %>
  </div>

  <div>
    <%= link_to "グループの編集", edit_group_path(@group.id) %>
    <%= link_to "一覧に戻る", groups_path %>
  </div>
</div>