<div class="d-flex flex-column align-items-center">
  <h1 class="text-center">編集</h1>
    <%= form_with model: @post do |f| %>
    <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*", onchange: "previewImage(this);" %>
    <div id="image-preview"></div>

    <script>
      function previewImage(input) {
        var reader = new FileReader();
        reader.onload = function(e) {
          var previewElement = document.getElementById('image-preview');
          previewElement.innerHTML = `<img src="${e.target.result}" width="400" height="400">`;
        };
        reader.readAsDataURL(input.files[0]);
      }
    </script>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>コメント</h4>
    <%= f.text_area :comment %>
    <h4>ロール</h4>
    <%= f.select :tag, Post.tags.keys %>
    <%= f.submit '更新' %>
  <%= link_to "この投稿の削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
</div>