<h1>画像投稿フォーム</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>個ののエラーがあります！
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <% if @post.image.attached? %>
    <%= image_tag url_for(@post.image) %>
  <% end %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>コメント</h4>
  <%= f.text_area :comment %>
  <h4>ロール</h4>
    <%= f.select :tag, Post.tags.keys %>
  <%= f.submit '投稿' %>
<% end %>