<div class="d-flex flex-column align-items-center">
  <h1 class="text-center">画像投稿フォーム</h1>

  <% if @post.errors.any? %>
    <%= @post.errors.count %>個のエラーがあります！
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
    <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*", onchange: "previewImage(this);" %>
    <div id="image-preview"></div>

    <script>
      function previewImage(input) {
        var reader = new FileReader();
        reader.onload = function(e) {
          var previewElement = document.getElementById('image-preview');
          previewElement.innerHTML = `<img src="${e.target.result}" width="400" height="400">`;
        };
        reader.readAsDataURL(input.files[0]);
      }
    </script>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>コメント</h4>
    <%= f.text_area :comment %>
    <h4>ロール</h4>
    <%= f.select :tag, Post.tags.keys %>
    <%= f.submit '投稿' %>
  <% end %>
</div>