<!DOCTYPE html>
<html>
  <head>
    <title>Gamefashionarchive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>
    <%= link_to image_tag("GFA.jpg"), lists_path %>
    <% if user_signed_in? %>
      <li>
        <%= link_to '投稿フォーム', new_post_path %>
      </li>
      <li>
        <a href="#" id="search-link">検索</a>
      </li>
      <li>
        <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>

    </header>
    <div id="search-bar" style="display: none;">
      <input type="text" id="search-input" placeholder="タグを入力">
      <button id="search-button">検索</button>
    </div>
    <%= yield %>
  </body>
</html>
