<!DOCTYPE html>
<html>
  <head>
    <title>Gamefashionarchive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8eece4e07c.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column ">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <% if user_signed_in? %>
              <%= link_to image_tag("GFA.jpg"), lists_path %>
            <% else %>
              <%= link_to image_tag("GFA.jpg"), root_path %>
            <% end %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= form_with url: lists_path, method: :get, class: 'form-inline' do |form| %>
                <%= form.select :tag, Post.tags.keys, prompt: 'タグを選択' %>
                <%= form.submit "検索", class: 'btn btn-light' %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_post_path, class: 'nav-link text-dark' do %>投稿
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user.id), class: 'nav-link text-dark' do %>マイページ
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
